@model ASM_ManageTrainingProgramSystem.Models.TrainerInfo
@{
    ViewBag.Title = "Index";
}

<h2>My Information</h2>

<div class="panel panel-info">
    <div class="panel-body">
        <p>Name: @Model.TrainerName</p>
        <p>Type: @Model.ExternalOrInternal</p>
        <p>Working Place: @Model.WorkingPlace</p>
        <p>Telephone: @Model.Telephone</p>
        <p>Email Address: @Model.EmailAddress</p>
    </div>
</div>

<div class="form-group">
    @Html.ActionLink(
             "Edit My Profile",
             "Edit",
             "Trainers",
             null,
             new { @class = "btn btn-info" }
             )
</div>