@model IEnumerable<ASM_ManageTrainingProgramSystem.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
}

<h2>Trainees List</h2>
<div class="form-group">
    @Html.ActionLink("Create a new Trainee",
                        "CreateTrainee",
                        "Account",
                        null,
                        new { @class = "btn btn-primary" }
                   )
</div>

<div class="form-group">
    @using (Html.BeginForm("Index", "TraineesList", FormMethod.Get))
    {
        <div class="form-group">
            @Html.TextBox("searchString", null, new { @placeholder = "Search Trainee by Username", required = "required" })
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    }
</div>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var traineeInfo in Model)
        {
            <tr>
                <td>@traineeInfo.UserName</td>
                <td>
                    <!--Details button-->
                    @Html.ActionLink("Details",
                        "Details",
                        "TraineesList",
                        new { id = traineeInfo.Id },
                        new { @class = "btn btn-info" }
                   )
                    <!--Edit button-->
                    @Html.ActionLink("Edit",
                        "Edit",
                        "TraineesList",
                        new { id = traineeInfo.Id },
                        new { @class = "btn btn-default" }
                   )
                    <!--Delete button-->
                    @Html.ActionLink("Delete",
                        "Delete",
                        "TraineesList",
                        new { id = traineeInfo.Id },
                        new { @class = "btn btn-danger" }
                   )
                    @Html.ActionLink("View Courses",
                        "ViewCourses",
                        "TraineesList",
                        new { id = traineeInfo.Id },
                        new { @class = "btn btn-primary" }
                    )
                    @Html.ActionLink("Assign Courses",
                        "AssignCourses",
                        "TraineesList",
                        new { id = traineeInfo.Id },
                        new { @class = "btn btn-success" }
                    )
                </td>
            </tr>
        }
    </tbody>
</table>
