@model ASM_ManageTrainingProgramSystem.ViewModels.CourseCategoriesViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Course</h2>

@using (Html.BeginForm("Edit", "Courses", FormMethod.Post))
{
    @Html.HiddenFor(c => c.Course.Id)
    <div class="form-group">
        @Html.LabelFor(c => c.Course.CourseName)
        @Html.EditorFor(c => c.Course.CourseName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(c => c.Course.CourseName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Course.Category.CategoryName)
        @Html.DropDownListFor(c => c.Course.CategoryId,
                              new SelectList(Model.Categories, "Id", "CategoryName"),
                              new { @class = "form-control", }
                              )
        @Html.ValidationMessageFor(c => c.Course.CategoryId, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Course.Description)
        @Html.EditorFor(c => c.Course.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(c => c.Course.CourseName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Edit</button>
    </div>
}
