@model IEnumerable<ASM_ManageTrainingProgramSystem.Models.Course>
@{
    ViewBag.Title = "Index";
}

<h2>Courses List</h2>

<div class="form-group">
    @Html.ActionLink("Create a new Course",
                     "Create",
                     "Courses",
                     null,
                     new { @class = "btn btn-info" }
                   )
</div>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Course Name</th>
            <th scope="col">Course Categories</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <th scope="row">@course.Id</th>
                <td>@course.CourseName</td>
                <td>@course.Category.CategoryName</td>
                <td>@course.Description</td>
                <td>
                    <!--Edit button-->
                    @Html.ActionLink("Edit",
                        "Edit",
                        "Courses",
                        new { id = course.Id },
                        new { @class = "btn btn-default" }
                   )
                    <!--Delete button-->
                    @Html.ActionLink("Delete",
                        "Delete",
                        "Courses",
                        new { id = course.Id },
                        new { @class = "btn btn-danger" }
                   )
                </td>
            </tr>
        }
    </tbody>
</table>