@model IEnumerable<ASM_ManageTrainingProgramSystem.Models.Category>
@{
    ViewBag.Title = "Index";
}

<h2>Course Categories List</h2>
<div class="form-group">
    @Html.ActionLink("Create a new Course Category",
        "Create",
        "Categories",
        null,
        new { @class = "btn btn-primary" }
    )
</div>

@using(Html.BeginForm("Index", "Categories", FormMethod.Get))
{
    <div class="form-group">
        @Html.TextBox("searchString", null, new { @placeholder = "Search category by name", required = "required"})
        <button type="submit"><i class="fa fa-search"></i></button>
    </div>
}

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Category Name</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <th scope="row">@category.Id</th>
                <td>@category.CategoryName</td>
                <td>@category.Description</td>
                <td>
                        <!--Edit button-->
                        @Html.ActionLink("Edit",
                            "Edit",
                            "Categories",
                            new { id = category.Id },
                            new { @class = "btn btn-default" }
                       )
                        <!--Delete button-->
                        @Html.ActionLink("Delete",
                            "Delete",
                            "Categories",
                            new { id = category.Id },
                            new { @class = "btn btn-danger" }
                       )
                </td>
            </tr>
        }
    </tbody>
</table>
