@model ASM_ManageTrainingProgramSystem.Models.TrainerInfo
@{
    ViewBag.Title = "Details";
}

<h2>Trainer's Information</h2>
<hr/>
<div class="panel panel-info">
    <div class="panel-body">
        <p>Name: @Model.TrainerName</p>
        <p>Type: @Model.ExternalOrInternal</p>
        <p>Working Place: @Model.WorkingPlace</p>
        <p>Telephone: @Model.Telephone</p>
        <p>Email Address: @Model.EmailAddress</p>
    </div>
</div>
